shortcode-links-list_block {
  margin: 26px 0 26px 8px!important;
  position: relative;
}

shortcode-links-list_block:before {
  background: #000;
  border-radius: 50%;
  content: '';
  display: block;
  height: 4px;
  left: -10px;
  position: absolute;
  width: 4px;
  transform: translateY(-50%);
  top: 50%;
}

shortcode-links-list_block > .sc-content > .sc-link > .sc-required {
  font-weight: 700;
}

shortcode-links-list_block > .sc-content > .sc-link > .sc-title {
  font-weight: 700;
}

shortcode-links-list_block > .sc-content > .sc-link.sc-size-small {
  font-size: 12px;
}

shortcode-links-list_block > .sc-content > .sc-link.sc-size-medium {
  font-size: 14px;
}

shortcode-links-list_block > .sc-content > .sc-link.sc-size-large {
  font-size: 16px;
}

shortcode-links-list_block > > .sc-content > .sc-body {
  color: #06f;
}
