shortcode-notice .sc-notice {
  font-size: 16px;
  line-height: 24px;
  position: relative;
}

shortcode-notice .sc-notice > div {
  color: #666;
  padding: 5px 20px;
}

shortcode-notice .sc-notice > div:before {
  color: rgb(255, 255, 255);
  content: "ïª";
  font-family: FontAwesome;
  left: 10px;
  position: absolute;
  top: 2px;
}

shortcode-notice .sc-notice > div:after {
  color: #fff;
  left: 30px;
  position: absolute;
  top: 3px;
}

shortcode-notice .sc-info > div {
  border-top: 30px solid #F0B37E;
  background: #FFF2DB;
}

shortcode-notice .sc-warning > div {
  border-top: 30px solid #DF6F6C;
  background: #FAE2E2;
}

shortcode-notice .sc-note > div {
  border-top: 30px solid #6AB0DE;
  background: #E7F2FA;
}

shortcode-notice .sc-tip > div {
  border-top: 30px solid #77C577;
  background: #E6F9E6;
}

shortcode-notice .sc-info > div:after {
  content: 'Info';
}

shortcode-notice .sc-warning > div:after {
  content: 'Warning';
}

shortcode-notice .sc-note > div:after {
  content: 'Note';
}

shortcode-notice .sc-tip > div:after {
  content: 'Tip';
}
